{% if section_url %}
=== {{ section_url }}[{{ section_name }}]{% if official %} ⭐{% endif %}
{% else %}
=== {{ section_name }}
{% endif %}

[cols="2,3",options="header",stripes=even]
|===
|Component
|Description

{% for component in components %}
|
xref:{{ component.name }}:ROOT:index.adoc[{{ component.title }}] +
_{{ component.github_url }}[[GitHub ⇗\]]_
|
{{ component.description }}{% if component.topics|length > 0 %} +
{% for t in component.topics %}`{{ t }}` {% endfor %}{% endif %}

{% endfor %}
|===
