= Welcome 👋

****
You'll find all the {{ component_count + package_count }} Components and  Packages with their documentation on this site.

This site is part of https://syn.tools/[Project Syn] - a Kubernetes configuration management tooling.
****

[TIP]
====
If you're interested writing a Commodore Component, the https://syn.tools/tuto/index.html[Commodore Component Tutorial] is your entrypoint.

To get a Component listed here, add the GitHub topic https://github.com/search?q=topic%3Acommodore-component[`commodore-component`] to the repository.
To get a Package listed here, add the GitHub topic https://github.com/search?q=topic%3Acommodore-pacakge[`commodore-package`] to the repository.

The documentation is rebuilt hourly and automatically kept up-to-date with the in-component documentation.
====

== Components by Project Syn

{% for ghorg in syn_organizations %}
{% with %}
{% set section_url = ghorg.github_url %}
{% set section_name = ghorg.display_name %}
{% set repos = components_by_org[ghorg.name] %}
{% set official = True %}
{% set repo_type = "Component" %}
{% include 'repo_table.adoc.jinja2' %}
{% endwith %}
{% endfor %}

== Packages by Project Syn


{% for ghorg in syn_organizations %}
{% with %}
{% set section_url = ghorg.github_url %}
{% set section_name = ghorg.display_name %}
{% set repos = packages_by_org[ghorg.name] %}
{% set repo_type = "Package" %}
{% set official = True %}
{% include 'repo_table.adoc.jinja2' %}
{% endwith %}
{% endfor %}


{% if other_organizations|length > 0 %}
== Community-contributed Components

{% for ghorg in other_organizations %}
{% with %}
{% set section_url = ghorg.github_url %}
{% set section_name = ghorg.display_name %}
{% set repos = components_by_org[ghorg.name] %}
{% set repo_type = "Component" %}
{% include 'repo_table.adoc.jinja2' %}
{% endwith %}
{% endfor %}

== Community-contributed Packages

{% for ghorg in other_organizations %}
{% with %}
{% set section_url = ghorg.github_url %}
{% set section_name = ghorg.display_name %}
{% set repos = packages_by_org[ghorg.name] %}
{% set repo_type = "Package" %}
{% include 'repo_table.adoc.jinja2' %}
{% endwith %}
{% endfor %}

{% endif %}
