= Commodore Components Hub

Welcome to the Commodore Components Hub!

image::logo_projectsyn.png[]

== Components

{% for ghorg in organizations %}
=== {{ ghorg.github_url }}[{{ ghorg.display_name }}]

[cols="2,3,2"]
|===
|Component |Description |GitHub repository

{% for component in components[ghorg.name] %}
|xref:{{ component.name }}:ROOT:index.adoc[{{ component.title }}]
|{{ component.description }}
|{{ component.github_url }}[{{ component.github_full_name }}]

{% endfor %}
|===
{% endfor %}
