* xref:index.adoc[Home]

.Components

{% for ghorg in organizations  %}
* {{ ghorg.display_name }}
{% for component in components[ghorg.name] %}
** xref:{{ component.name }}:ROOT:index.adoc[{{ component.title }}]
{% endfor %}
{% endfor %}
